<a href="https://colab.research.google.com/github/juneshim/baekjoon/blob/main/%EC%BD%94%ED%85%8C%EB%85%B8%ED%8A%B81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##입출력과 사칙연산

In [ ]:
#2557. Hello World! 출력
print("Hello World!")

Hello World!

In [ ]:
#1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
arr = input().split()
total = 0
for x in arr:
    total += int(x)
print(total)

1 2
3

In [ ]:
#1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
arr = input().split()
print(int(arr[0])-int(arr[1]))

1 2
-1

In [ ]:
#10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
arr = input().split()
total = int(arr[0]) * int(arr[1])
print(total)

1 2
2

In [ ]:
#1008.두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
arr = input().split()
total = int(arr[0])/int(arr[1])
print(total)

1 2
0.5

In [ ]:
#10869. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.
arr = input().split()
sum = int(arr[0])+int(arr[1])
sub = int(arr[0])-int(arr[1])
mul = int(arr[0])*int(arr[1])
div = int(int(arr[0])/int(arr[1]))
mod = int(arr[0])%int(arr[1])

print(sum)
print(sub)
print(mul)
print(div)
print(mod)

7 3
10
4
21
2
1

In [ ]:
#10926. 입력 문자 뒤에 ??!를 붙여서 출력
id = input()
print(id+"??!")

1 2
1 2??!

In [ ]:
#18108. 불기 연도를 서기 연도로 변환한 결과를 출력
num = input()
year = int(num) - 2541 + 1998
print(year)

2541
1998

In [ ]:
#10430. 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력
arr = input().split()

A = int(arr[0])
B = int(arr[1])
C = int(arr[2])

l1  = int((A+B)%C)
l2 = int((int((A%C)) + int((B%C)))%C)
l3 = int(int((A*B))%C)
l4 = int((int((A%C)) * int((B%C)))%C)

print(l1)
print(l2)
print(l3)
print(l4)

5 8 4
1
1
0
0

In [ ]:
#2588.(세 자리 수) × (세 자리 수) 과정 출력
n1 = int(input())
n2 = int(input())

l1 = n1*(n2%10)
l2 = n1*(int(n2/10)%10)
l3 = n1*int(n2/100)

print(l1)
print(l2)
print(l3)
print(n1*n2)

472
385
2360
3776
1416
181720

In [ ]:
#11382. A+B+C의 값을 출력
arr = input().split()
total = int(arr[0]) + int(arr[1]) + int(arr[2])

print(total)

1 2 3
6

In [ ]:
#10171. 고양이 모양 출력
print(r"""\    /\
 )  ( ')
(  /  )
 \(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
#10172. 개 모양 출력 << 💡
print(r"|\_/|")
print(r"|q p|   /}")
print(r"( 0 )"+'""'+ "\"\\")
print(r'|"^"`    |')
print(r"||_/=\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

##조건문

In [ ]:
#1330. 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램
arr = input().split()

def print_case(arr):
  if int(arr[0]) > int(arr[1]) :
    return(">")
  elif int(arr[0]) < int(arr[1]) :
    return("<")
  elif int(arr[0]) == int(arr[1]) :
    return("==")

a = print_case(arr)
print(a)

9 10
<

In [ ]:
#9498. 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램
arr = input()

def print_grade(arr):
  if int(arr) >= 90 :
    return("A")
  elif int(arr) >= 80 :
    return("B")
  elif int(arr) >= 70 :
    return("C")
  elif int(arr) >= 60 :
    return("D")
  else :
    return("F")

a = print_grade(arr)
print(a)

55
F

In [ ]:
#2753. 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램
year = input()

def is_leap_year(year):
  if int(year)%4==0 and int(year)%100!=0 :
    return 1
  elif int(year)%4==0 and int(year)%400==0 :
    return 1
  else :
    return 0

a = is_leap_year(year)
print(a)

1999
0

In [ ]:
#14681. 점 (x, y)의 사분면 번호(1, 2, 3, 4 중 하나)를 출력
x = input()
y = input()

def quadrant_num(x,y) :
  if int(x)>0 and int(y)>0 :
    return 1
  elif int(x)<0 and int(y)>0 :
    return 2
  elif int(x)<0 and int(y)<0 :
    return 3
  else :
    return 4

n = quadrant_num(x,y)
print(n)

-111
-111
4

In [ ]:
#2884. 45분 일찍 알람 설정하기
time = input().split()

def alarm_time(time) :
  hour = int(time[0])
  min = int(time[1])

  if min >= 45 :
    return (time[0] + " " + str(min-45))
  elif hour == 0 :
    return ("23" + " " + str(min+15))
  else :
    return (str(hour-1) + " " + str(min+15))

a = alarm_time(time)
print(a)

23 40
22 55

In [ ]:
#2525. n분 후의 시간
time1 = input().split()
time2 = input()

def alarm_time2(time1, time2) :
  hour = int(time1[0])
  min1 = int(time1[1])
  min2 = int(time2)

# 1. 분 계산
  a_min = (min1+min2)%60

# 2. 시간 계산
  a_hour = int(int(hour + int((min1+min2)/60))%24)

  return str(a_hour) + " " + str(a_min)

a = alarm_time2(time1, time2)
print(a)

23 48
25
0 13

In [ ]:
#2480. 3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램
arr = input().split()

def prize_calc(arr) :
  # 같은 눈 찾기
  same_n = 0
  if arr[0] == arr[1] :
    same_n = int(arr[0])
  if arr[0] == arr[2] :
    same_n = int(arr[0])
  if arr[1] == arr[2] :
    same_n = int(arr[1])

  #가장 큰 눈 찾기
  big_n = int(arr[0])
  if int(arr[1]) > int(arr[0]) :
    big_n = int(arr[1])
    if int(arr[2]) > int(arr[1]) :
      big_n = int(arr[2])
  if int(arr[2]) > int(arr[0]) :
    big_n = int(arr[2])
    if int(arr[1]) > int(arr[2]) :
      big_n = int(arr[1])

  if arr[0] == arr[1] == arr[2] :
    return 10000 + int(arr[0])*1000
  elif same_n > 0 :
    return 1000 + same_n*100
  else :
    return big_n*100

a = prize_calc(arr)
print(a)

6 2 5
600

## 기하 1: 직사각형과 삼각형

In [ ]:
#27323. 세로 길이가 A cm, 가로 길이가 B cm인 직사각형의 넓이 계산
n1 = input()
n2 = input()

a = int(n1)*int(n2)
print(a)

1
100
100

In [ ]:
#1085. 직사각형 안에서 가장 가까운 가장자리까지의 거리
arr = input().split()
x = int(arr[0])
y = int(arr[1])
w = int(arr[2])
h = int(arr[3])

def smallist(x, y, w, h) :
  n1 = min(x, y, w, h)
  n2 = w - x
  n3 = h - y

  return min(n1, n2, n3)

a = smallist(x, y, w, h)
print(a)

161 181 762 375
161

In [ ]:
#3009. 세 점이 주어졌을 때, 축에 평행한 직사각형을 만들기 위해서 필요한 네 번째 점을 찾는 프로그램
p1 = input().split()
p2 = input().split()
p3 = input().split()

x1 = int(p1[0])
x2 = int(p2[0])
x3 = int(p3[0])
y1 = int(p1[1])
y2 = int(p2[1])
y3 = int(p3[1])

def only_num(n1, n2, n3) :
  n = 0
  if n1 == n2 :
    n = n3
  elif n1 == n3 :
    n = n2
  else :
    n = n1
  return n

x = only_num(x1, x2, x3)
y = only_num(y1, y2, y3)
print(str(x) + " " + str(y))

5 5
7 5
5 7
7 7

In [ ]:
#15894. 사각형으로 만든 삼각형 모양의 둘레
n = input()

def perimeter_func(n) :
  return 4*int(n)

print(perimeter_func(n))

2
8

In [ ]:
#9063. 대지 크기
n_num = input().split()
arr_x = []
arr_y = []
for i in range(int(n_num[0])) :
  arr = input().split()
  arr_x.append(int(arr[0]))
  arr_y.append(int(arr[1]))

def wide_func(arr_x, arr_y) :
  x1 = min(arr_x)
  x2 = max(arr_x)
  y1 = min(arr_y)
  y2 = max(arr_y)

  return (x2 - x1) * (y2 - y1)

print(wide_func(arr_x, arr_y))

1
15 13
0

In [ ]:
#10101. 총 3개의 각이 삼각형이 Equilateral, Isosceles, Scalene, Error 인지 출력
p1 = int(input())
p2 = int(input())
p3 = int(input())

def what_tri(p1, p2, p3) :
  if p1 == p2 and p2 == p3 and p3 == 60 :
    return "Equilateral"
  elif p1 == p2 or p2 == p3 or p1 == p3 :
    if p1+p2+p3 == 180 :
      return "Isosceles"
    else :
      return "Error"
  elif p1+p2+p3 == 180 :
    return "Scalene"
  else :
    return "Error"

print(what_tri(p1, p2, p3))

60
70
50
Scalene

In [ ]:
#5073. 세 변의 길이가 주어질 때 Equilateral, Isosceles, Scalene, Invalid 중 뭔지
def what_tri(arr) :
  if arr[0] == arr[1] == arr[2]:
    return "Equilateral"
  elif arr[0] == arr[1] or arr[1] == arr[2] or arr[0] == arr[2] :
    if  sum(arr) - max(arr) > max(arr) :
      return "Isosceles"
    else :
      return "Invalid"
  elif sum(arr) - max(arr) > max(arr) :
    return "Scalene"
  else :
    return "Invalid"

list_n = []
while True :
  arr = [int(x) for x in (input().split())]
  if arr[0] == 0 :
    break
  list_n.append(arr)

for i in list_n :
  print(what_tri(i))

1 2 3
0 0 0
Invalid

In [ ]:
#14215. 삼각형 최대 둘레
arr = [int(x) for x in (input().split())]

def max_calc(arr) :
  if sum(arr) - max(arr) > max(arr) :
    return sum(arr)
  else :
    return 2* (sum(arr) - max(arr)) - 1

print(max_calc(arr))

41 64 16
113