<a href="https://colab.research.google.com/github/juneshim/baekjoon/blob/main/%EC%BD%94%ED%85%8C%EB%85%B8%ED%8A%B86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#백트래킹

In [ ]:
#15649. 1부터 N까지 자연수 중에서 중복 없이 M개로 구성된 순서쌍을 모두 출력하는 함수
#💡💡 백트래킹 기초 문제, 까먹으니 복습하기
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
    if arr[i] not in ans :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

4 4
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

In [ ]:
#15650. 조건이 추가된 N M 백트래킹
def back() :
  arr = list(range(1, N+1))
  global check
  if len(ans) == M :
    print(*ans)
    return
  if check < M-len(ans) :
    return
  for i in range(len(arr)) :
    check = N-i
    if arr[i] not in ans and len(ans) == 0 :
      ans.append(arr[i])
      check -= 1
      back()
      ans.pop()
    elif arr[i] not in ans and arr[i] > ans[-1] :
      ans.append(arr[i])
      check -= 1
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
check = N
back()

4 2
1 2
1 3
1 4
2 3
2 4
3 4

In [ ]:
#15651. N M 문제인데, 중복이 가능한
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

3 3
1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

In [ ]:
#15652. N M 문제인데, 중복이 가능한데 오름차순인
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
    if len(ans) == 0 :
      ans.append(arr[i])
      back()
      ans.pop()
    elif arr[i] >= ans[-1] :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

4 2
1 1
1 2
1 3
1 4
2 2
2 3
2 4
3 3
3 4
4 4

In [ ]:
#9663. N Queen 문제
#💡💡💡arr = [[1]*3]*3 으로 list만들면 얕은 복사에 의해 연결됨!! (1행 = 2행 = 3행)
def back():
  #1행1열부터 하나씩 넣으면서 전체 배열에 1이 있는 곳에만 선택해서 들어가기
  global arr, ans_count
  for i in range(N):
    check = 0
    for j in range(N):
      if arr[i][j] == 1:
        ans.append([i,j])
        print(ans)
        print(arr)
        not_available(i,j)
        back()
      else:
        check += 1
        if check == N :
          ans.pop()
          return
  if len(ans) == N :
    ans_count += 1
    arr = [[1]*N]*N

def not_available(i, j):
  #arr[i][j]에 의해 놓을 수 없는 곳 빼기
  for a in range(N):
    for b in range(N):
      if a == i or b == j :
        arr[a][b] = 0
  a = i+1
  b = j+1
  while a < N and b < N :
    arr[a][b] = 0
    a += 1
    b += 1
  a = i-1
  b = j+1
  while a >= 0 and b < N :
    arr[a][b] = 0
    a -= 1
    b += 1
N = int(input())
arr = [[1 for _ in range(N)] for _ in range(N)]
ans = []
ans_count = 0
back()

4
1
[[0, 0]]
[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]
[[0, 0, 0, 0], [0, 1, 1, 1], [0, 1, 1, 1], [0, 1, 1, 1]]
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 1, 0, 1], [0, 1, 1, 0]]
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 1, 0, 1], [0, 1, 1, 0]]
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 1, 0, 1], [0, 1, 1, 0]]
1
1
[[1, 2]]
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 1, 0, 1], [0, 1, 1, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 0, 1], [0, 1, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 0, 0]]
1
1
[[2, 1]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
1
1

IndexError: pop from empty list

#랜덤마라톤

In [ ]:
#8949. 자리 수 마다 더하기
#💡💡 띄워 쓰기 없이 출력하려면 가장 쉬운건 ,sep="" 인자 추가하기!
A, B = map(int, input().split())
a_arr = list(map(int, (str(A))))
b_arr = list(map(int, (str(B))))

if A >= B :
  for i in range(len(a_arr)) :
    if len(b_arr)-i-1 < 0 :
      break
    a_arr[len(a_arr)-i-1] += b_arr[len(b_arr)-i-1]
  print(*a_arr, sep="")
else :
  for i in range(len(b_arr)) :
    if len(a_arr)-i-1 < 0 :
      break
    b_arr[len(b_arr)-i-1] += a_arr[len(a_arr)-i-1]
  print(*b_arr, sep="")

99999 99999
1818181818

In [ ]:
#29807. 학번 계산기
T = int(input())
arr = list(map(int, input().split()))
while len(arr)<5 :
  arr.append(0)
ko = arr[0]
ma = arr[1]
en = arr[2]
tm = arr[3]
ans = 0
#국어 점수가 영어 점수보다 높다면, 두 점수의 차에 인문관의 건물 번호 $508$을 곱해준다. 아니라면, 두 점수의 차에 국제관의 건물 번호 $108$을 곱해준다.
if ko > en :
  ans += (ko-en)*508
else:
  ans += (en-ko)*108
#수학 점수가 탐구 점수보다 높다면, 두 점수의 차에 제1공학관의 건물 번호 $212$를 곱해준다. 아니라면, 두 점수의 차에 ITBT관의 건물 번호 $305$을 곱해준다.
if ma > tm :
  ans += (ma-tm)*212
else:
  ans += (tm-ma)*305
#제2외국어를 응시했다면 제2외국어 점수에 행원파크 건물 번호인 $707$을 곱해준다.
if T == 5 :
  ans += arr[4]*707
print(ans*4763)

4
94 96 90
106614992

In [ ]:
#28224. 덧셈뺄셈
n = int(input())
x = 0
for _ in range(n):
  x += int(input())
print(x)

4
110
-5
0
27
132

# 심화 2 단계

In [5]:
#1037. 약수의 개수와 약수로 자연수 추론하기
# 약수들 중 가장 큰 수에다 가장 작은 수 곱하면 된다?
n = int(input())
arr = list(map(int, input().split()))
print(min(arr)*max(arr))

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192