<a href="https://colab.research.google.com/github/juneshim/baekjoon/blob/main/%EC%BD%94%ED%85%8C%EB%85%B8%ED%8A%B86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#백트래킹

In [ ]:
#15649. 1부터 N까지 자연수 중에서 중복 없이 M개로 구성된 순서쌍을 모두 출력하는 함수
#💡💡 백트래킹 기초 문제, 까먹으니 복습하기
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
    if arr[i] not in ans :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

4 4
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

In [28]:
#15650. 조건이 추가된 N M 백트래킹
def back() :
  arr = list(range(1, N+1))
  global check
  if len(ans) == M :
    print(*ans)
    return
  if check < M-len(ans) :
    return
  for i in range(len(arr)) :
    check = N-i
    if arr[i] not in ans and len(ans) == 0 :
      ans.append(arr[i])
      check -= 1
      back()
      ans.pop()
    elif arr[i] not in ans and arr[i] > ans[-1] :
      ans.append(arr[i])
      check -= 1
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
check = N
back()

4 2
1 2
1 3
1 4
2 3
2 4
3 4

In [31]:
#15651. N M 문제인데, 중복이 가능한
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

3 3
1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

In [38]:
#15652. N M 문제인데, 중복이 가능한데 오름차순인
def back() :
  arr = list(range(1, N+1))
  if len(ans) == M :
    print(*ans)
    return
  for i in range(len(arr)) :
    if len(ans) == 0 :
      ans.append(arr[i])
      back()
      ans.pop()
    elif arr[i] >= ans[-1] :
      ans.append(arr[i])
      back()
      ans.pop()

N, M = map(int, input().split())
ans = []
back()

4 2
1 1
1 2
1 3
1 4
2 2
2 3
2 4
3 3
3 4
4 4